## Conducting EDA on the data

In [14]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
youth_data = pd.read_csv('../data/responses.csv')
youth_data.head()

,Music,Slow songs or fast songs,Dance,Folk,Country,Classical music,Musical,Pop,Rock,Metal or Hardrock,...,Age,Height,Weight,Number of siblings,Gender,Left - right handed,Education,Only child,Village - town,House - block of flats
0,5.0,3.0,2.0,1.0,2.0,2.0,1.0,5.0,5.0,1.0,...,20.0,163.0,48.0,1.0,female,right handed,college/bachelor degree,no,village,block of flats
1,4.0,4.0,2.0,1.0,1.0,1.0,2.0,3.0,5.0,4.0,...,19.0,163.0,58.0,2.0,female,right handed,college/bachelor degree,no,city,block of flats
2,5.0,5.0,2.0,2.0,3.0,4.0,5.0,3.0,5.0,3.0,...,20.0,176.0,67.0,2.0,female,right handed,secondary school,no,city,block of flats
3,5.0,3.0,2.0,1.0,1.0,1.0,1.0,2.0,2.0,1.0,...,22.0,172.0,59.0,1.0,female,right handed,college/bachelor degree,yes,city,house/bungalow
4,5.0,3.0,4.0,3.0,2.0,4.0,3.0,5.0,3.0,1.0,...,20.0,170.0,59.0,1.0,female,right handed,secondary school,no,village,house/bungalow

In [3]:
youth_data.describe()

,Music,Slow songs or fast songs,Dance,Folk,Country,Classical music,Musical,Pop,Rock,Metal or Hardrock,...,Shopping centres,Branded clothing,Entertainment spending,Spending on looks,Spending on gadgets,Spending on healthy eating,Age,Height,Weight,Number of siblings
count,1007.000000,1008.000000,1006.000000,1005.000000,1005.000000,1003.000000,1008.000000,1007.000000,1004.000000,1007.000000,...,1008.000000,1008.000000,1007.000000,1007.000000,1010.000000,1008.00000,1003.000000,990.000000,990.000000,1004.000000
mean,4.731877,3.328373,3.113320,2.288557,2.123383,2.956132,2.761905,3.471698,3.761952,2.361470,...,3.234127,3.050595,3.201589,3.106256,2.870297,3.55754,20.433699,173.514141,66.405051,1.297809
std,0.664049,0.833931,1.170568,1.138916,1.076136,1.252570,1.260845,1.161400,1.184861,1.372995,...,1.323062,1.306321,1.188947,1.205368,1.284970,1.09375,2.828840,10.024505,13.839561,1.013348
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,15.000000,62.000000,41.000000,0.000000
25%,5.000000,3.000000,2.000000,1.000000,1.000000,2.000000,2.000000,3.000000,3.000000,1.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,3.00000,19.000000,167.000000,55.000000,1.000000
50%,5.000000,3.000000,3.000000,2.000000,2.000000,3.000000,3.000000,4.000000,4.000000,2.000000,...,3.000000,3.000000,3.000000,3.000000,3.000000,4.00000,20.000000,173.000000,64.000000,1.000000
75%,5.000000,4.000000,4.000000,3.000000,3.000000,4.000000,4.000000,4.000000,5.000000,3.000000,...,4.000000,4.000000,4.000000,4.000000,4.000000,4.00000,22.000000,180.000000,75.000000,2.000000
max,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.00000,30.000000,203.000000,165.000000,10.000000

In [12]:
all_columns_sum = youth_data.sum()
print(all_column_sum)

Music                           4765.0
Slow songs or fast songs        3355.0
Dance                           3132.0
Folk                            2300.0
Country                         2134.0
                                ...
Spending on healthy eating      3586.0
Age                            20495.0
Height                        171779.0
Weight                         65741.0
Number of siblings              1303.0
Length: 140, dtype: object

C:\Users\trali\AppData\Local\Temp\ipykernel_11048\942432564.py:1: FutureWarning: The default value of numeric_only in DataFrame.sum is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  all_columns_sum = youth_data.sum()

In [23]:
# Select only integer columns
integer_columns = youth_data.select_dtypes(include='float')

# Calculate the sum
most_popular_responses = integer_columns.sum().sort_values(ascending=False)

print(most_popular_responses.head(30))

Height                        171779.0
Weight                         65741.0
Age                            20495.0
Music                           4765.0
Movies                          4632.0
Fun with friends                4585.0
Comedy                          4526.0
Internet                        4201.0
Borrowed stuff                  4050.0
Keeping promises                4023.0
Judgment calls                  4011.0
Compassion to animals           3983.0
Reliability                     3882.0
Empathy                         3878.0
Animated                        3815.0
Foreign languages               3797.0
Friends versus money            3794.0
Rock                            3777.0
Fantasy/Fairy tales             3776.0
Cheating in school              3767.0
Happiness in life               3728.0
Countryside, outdoors           3698.0
Energy levels                   3652.0
Documentary                     3651.0
Children                        3643.0
Appearence and gestures         3623.0
Getting up                      3610.0
Self-criticism                  3597.0
Spending on healthy eating      3586.0
Interests or hobbies            3576.0
dtype: float64

In [24]:
least_popular_responses = integer_columns.sum().sort_values(ascending=True)

print(least_popular_responses.head(30))

Number of siblings     1303.0
Writing                1909.0
Gardening              1913.0
Hypochondria           1924.0
Storm                  1991.0
Flying                 2076.0
Physics                2079.0
Charity                2119.0
Country                2134.0
Western                2139.0
Fake                   2150.0
Opera                  2159.0
Chemistry              2165.0
Darkness               2269.0
Law                    2277.0
Religion               2289.0
Folk                   2300.0
Musical instruments    2345.0
Techno, Trance         2346.0
Mathematics            2351.0
Metal or Hardrock      2378.0
Celebrities            2381.0
Rats                   2426.0
Punk                   2461.0
Dancing                2479.0
Medicine               2529.0
Art exhibitions        2600.0
Ageing                 2604.0
Criminal damage        2612.0
Politics               2619.0
dtype: float64

Consistent with my original proposal, I could begin to filter out the respondents who list "Writing", "Gardening" and "Charity" as their primary activity.

In [33]:
filter_criteria = (youth_data['Writing'] == 5) | (youth_data['Gardening'] == 5) | (youth_data['Charity'] == 5)

# Apply the boolean mask to filter the dataset
outcast_group = youth_data[filter_criteria]

# Print the filtered dataset
outcast_group.describe()

,Music,Slow songs or fast songs,Dance,Folk,Country,Classical music,Musical,Pop,Rock,Metal or Hardrock,...,Shopping centres,Branded clothing,Entertainment spending,Spending on looks,Spending on gadgets,Spending on healthy eating,Age,Height,Weight,Number of siblings
count,131.000000,131.000000,130.000000,131.000000,131.000000,130.000000,131.000000,131.000000,131.000000,130.000000,...,131.000000,131.000000,131.000000,131.000000,131.000000,130.000000,131.000000,125.000000,128.000000,130.000000
mean,4.763359,3.404580,3.238462,2.625954,2.358779,3.346154,3.099237,3.465649,3.687023,2.400000,...,3.267176,2.839695,3.206107,3.213740,2.778626,3.769231,20.770992,171.960000,66.875000,1.238462
std,0.699803,1.013589,1.262481,1.273009,1.234558,1.310137,1.294099,1.229745,1.313152,1.455276,...,1.429494,1.380172,1.311004,1.277062,1.399396,1.023283,3.370836,9.300884,17.737367,1.025291
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,15.000000,148.000000,44.000000,0.000000
25%,5.000000,3.000000,2.000000,2.000000,1.000000,2.000000,2.000000,3.000000,3.000000,1.000000,...,2.000000,1.000000,2.000000,2.000000,1.000000,3.000000,19.000000,165.000000,55.000000,1.000000
50%,5.000000,3.000000,3.000000,3.000000,2.000000,3.000000,3.000000,4.000000,4.000000,2.000000,...,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,20.000000,170.000000,62.500000,1.000000
75%,5.000000,4.000000,4.000000,3.000000,3.000000,5.000000,4.000000,4.000000,5.000000,4.000000,...,5.000000,4.000000,4.000000,4.000000,4.000000,5.000000,22.000000,179.000000,75.000000,2.000000
max,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,30.000000,200.000000,165.000000,6.000000

In [37]:
outcast_interests = outcast_group.select_dtypes(include='float').sum().sort_values(ascending=False)

print(outcast_interests.head(30))

Height                        21495.0
Weight                         8560.0
Age                            2721.0
Music                           624.0
Movies                          612.0
Fun with friends                608.0
Comedy                          594.0
Judgment calls                  546.0
Compassion to animals           537.0
Borrowed stuff                  534.0
Internet                        533.0
Keeping promises                530.0
Fantasy/Fairy tales             528.0
Animated                        525.0
Foreign languages               523.0
Interests or hobbies            523.0
Friends versus money            520.0
Reliability                     520.0
Empathy                         519.0
Documentary                     519.0
Countryside, outdoors           515.0
Children                        499.0
Reading                         490.0
Spending on healthy eating      490.0
Romantic                        487.0
Elections                       487.0
Energy levels                   487.0
Getting up                      485.0
Happiness in life               485.0
Rock                            483.0
dtype: float64

This return seems to suggest that the niche respondents that I chose to isolate are rather conventional with "music" being the aggregate key interest of this group.  There might be more insights from this based upon personality data but this is likely too subjective from a collection of self-reported surveys.